<!-- Interviewers View -->
<div ng-controller="IntListCtrl" class="container-fluid">
  <h1>There are {{interviewers.length}} interviewers</h1>
<!--   <table style="width:50%">
    <tr>
      <th>Name</th>
      <th>School</th>
      <th>Headline</th>
    </tr>
    <tr ng-repeat="interviewer in interviewers">
      <td><a href="#/interviewers/{{interviewer.name}}">{{interviewer.name}}</a></td>
      <td>{{interviewer.school}}</td>
      <td>{{interviewer.headline}}</td>
    </tr>
  </table> -->
  <div class="profiles-container">
    <div class="card profile" ng-repeat="interviewer in interviewers">
      <a href="#/interviewers/{{interviewer.name}}">
        <div class="card-block">
          <h4 class="card-title">{{interviewer.name}}</h4>
          <h6 class="card-subtitle text-muted">{{interviewer.school}}</h6>
        </div>
        <img data-src="..." alt="Card image">
        <div class="card-block">
          <p class="card-text">{{interviewer.headline}}</p>
        </div>
      </a>

      <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">See Schedule</button>
      <!-- Modal -->
      <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Schedule Interview</h4>
            </div>
            <div class="modal-body">
              <p>Some text in the modal.</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>

</div>

