<!-- Interviewers View -->
<div ng-controller="IntListCtrl">

  <form ng-submit="createInterviewer()">
    <input type="text" placeholder="Interviewer name" ng-model="interviewerName"></input>
    <input type="text" placeholder="Interviewer school" ng-model="interviewerSchool"></input>
    <input type="text" placeholder="Interviewer headline" ng-model="interviewerHeadline"></input>
    <button type="submit">Add</button>
  </form>

  <h1>There are {{interviewers.length}} interviewers</h1>
<!--   <table style="width:50%">
    <tr>
      <th>Name</th>
      <th>School</th>
      <th>Headline</th>
    </tr>
    <tr ng-repeat="interviewer in interviewers">
      <td><a href="#/interviewers/{{interviewer.name}}">{{interviewer.name}}</a></td>
      <td>{{interviewer.school}}</td>
      <td>{{interviewer.headline}}</td>
    </tr>
  </table> -->
  <div class="card-columns">
    <div class="card" ng-repeat="interviewer in interviewers">
      <div class="card-block">
        <h4 class="card-title">{{interviewer.name}}</h4>
        <h6 class="card-subtitle text-muted">{{interviewer.school}}</h6>
      </div>
      <img data-src="..." alt="Card image">
      <div class="card-block">
        <p class="card-text">{{interviewer.headline}}</p>
        <a href="#/interviewers/{{interviewer.name}}" class="btn btn-primary">More info</a>
      </div>
    </div>
  </div>

</div>

