<!-- Bootstrap -->
<!-- <link class="cssdeck" rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.1/css/bootstrap.min.css"> -->
<!-- <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/css/bootstrap-responsive.min.css" class="cssdeck"> -->
<link rel="stylesheet" href="/static/register/bootstrap.css" class="cssdeck">

<link rel="stylesheet" href="/static/register/bootstrap-responsive.css" class="cssdeck">

<!-- Custom CSS -->
<link rel="stylesheet" type="text/css" href="static/register.css">

<!-- Google scripts -->
<meta name="google-signin-scope" content="profile email">
<meta name="google-signin-client_id" content="344521590545-frgeqsqikblk4i14rn9ffqlgmtk7nj24.apps.googleusercontent.com">
<script src="https://apis.google.com/js/platform.js" async defer></script>

<div class="" id="loginModal" ng-controller="RegisterCtrl">

  <h3> Become an Interviewer </h3>

  <form ng-submit="registerUser()">

    <label>Headline</label>
    <input type="text" value="" class="input-xlarge" ng-model="headline"
      placeholder="E.g. Summer '15 Software Engineering Intern at Google">

    <label>Hourly Rate</label>
    <!-- <input type="text" value="" class="input-xlarge" ng-model="rate"> -->
    <ng-form class="rate-form">
      <input type="radio" ng-model="rate" name="rate" id="radio-20" value="20" checked>
      <label for="radio-20" class="radio">$20</label>

      <input type="radio" ng-model="rate" name="rate" id="radio-25" value="25">
      <label for="radio-25" class="radio">$25</label>

      <input type="radio" ng-model="rate" name="rate" id="radio-30" value="30">
      <label for="radio-30" class="radio">$30</label>

      <input type="radio" ng-model="rate" name="rate" id="radio-35" value="35">
      <label for="radio-35" class="radio">$35</label>
    </ng-form>

    <label>Availability</label>
    <div class="schedule-button">
      <!-- Trigger the modal with a button -->
      <button type="button" class="btn btn-sm" data-toggle="modal" data-target="#scheduleModal" ng-click="openScheduler()">Set Availability</button>
    </div>

    <!-- Modal -->
    <div id="scheduleModal" class="modal" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Set Availability</h4>
          </div>
          <div class="modal-body">
            <div id="scheduler_container" style="width:100%; height:450px;">
              <div id="scheduler_here" class="dhx_cal_container" style='width:100%; height:100%;'>
                <div class="dhx_cal_navline">
                    <div class="dhx_cal_prev_button">&nbsp;</div>
                    <div class="dhx_cal_next_button">&nbsp;</div>
                    <div class="dhx_cal_date"></div>
                </div>
                <div class="dhx_cal_header"></div>
                <div class="dhx_cal_data"></div>
              </div>
            </div><br>
            <button class="btn btn-primary" data-dismiss="modal">Done</button>
          </div>
        </div>
      </div>
    </div>

    <br>
    <label>Bio</label>
    <textarea value="" rows="4" class="input-xlarge bio" ng-model="bio" placeholder="E.g. B.S.E. Computer Science '17; Interned at Cloudera (Apache Kudu), Google (Cloud Dataflow); Member of Tau Beta Pi honor society; LinkedIn: https://www.linkedin.com/in/evanspiegel">
    </textarea>
    <!-- <script>
      $('.bio').attr('placeholder', "E.g. B.S.E. Computer Science '17\n Interned at Cloudera (Apache Kudu), Google (Cloud Dataflow)\n Member of Tau Beta Pi honor society\n LinkedIn: https://www.linkedin.com/in/evanspiegel");
    </script> -->

    <div>
      <button class="btn btn-primary">Become Interviewer</button>
    </div>
  </form>
</div>

<!-- More Bootstrap -->
<script class="cssdeck" src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script class="cssdeck" src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>