<!-- Bootstrap -->
<!-- <link class="cssdeck" rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.1/css/bootstrap.min.css"> -->
<!-- <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/css/bootstrap-responsive.min.css" class="cssdeck"> -->
<link rel="stylesheet" href="/static/register/bootstrap.css" class="cssdeck">

<link rel="stylesheet" href="/static/register/bootstrap-responsive.css" class="cssdeck">


<!-- Custom CSS -->
<link rel="stylesheet" type="text/css" href="static/register.css">

<!-- Google scripts -->
<meta name="google-signin-scope" content="profile email">
<meta name="google-signin-client_id" content="344521590545-frgeqsqikblk4i14rn9ffqlgmtk7nj24.apps.googleusercontent.com">
<script src="https://apis.google.com/js/platform.js" async defer></script>

<div class="" id="loginModal" ng-controller="SignupCtrl">

  <h3> Sign Up </h3>

  <form ng-submit="createUser()">

    <h>To create an account, sign in with Google: </h>

    <br>
    <p>
      <div class="g-signin2" data-onsuccess="getGoogleData" id="googlesignin" data-theme="dark"></div>
    </p>
    <br>

    <h> Please also provide the following information: </h>
    <br>
    <br>

    <label>School</label>
    <input type="text" value="" class="input-xlarge" ng-model="school">

    <label>Graduation Year</label>
    <select data-ng-model="grad">
      <option value="2019">2015</option>
      <option value="2016">2016</option>
      <option value="2017">2017</option>
      <option value="2018">2018</option>
      <option value="2019">2019</option>
      <option value="2019">2020</option>
    </select>

    <br>
    <br>

    <div>
      <button class="btn btn-primary" ng-click="createUser()">Create Account</button>
    </div>
  </form>

</div>

<!-- More Bootstrap -->
<script class="cssdeck" src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script class="cssdeck" src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>