  <!-- Google scripts -->
<meta name="google-signin-scope" content="profile email">
<meta name="google-signin-client_id" content="344521590545-frgeqsqikblk4i14rn9ffqlgmtk7nj24.apps.googleusercontent.com">
<script src="https://apis.google.com/js/platform.js" async defer></script>

<div class="modal-header">
<h3 class="modal-title">Register with your Google account</h3>
</div>
<div class="modal-body">
Main Content
<br>
  <h>To create an account, sign in with Google: </h> <br><br>
  <div class="g-signin2" data-onsuccess="getGoogleData" data-theme="dark"></div>
  <!-- <a href="javascript:window.location.reload(true)" ng-click="signOut">Sign out</a> -->
  <br>
</div>
<!-- <div class="modal-footer">
<button class="btn btn-warning" type="button"
ng-click="close()">Cancel</button>
</div> -->