<link class="cssdeck" rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.1/css/bootstrap-responsive.min.css" class="cssdeck">

<!-- Google scripts -->
<meta name="google-signin-scope" content="profile email">
<meta name="google-signin-client_id" content="344521590545-frgeqsqikblk4i14rn9ffqlgmtk7nj24.apps.googleusercontent.com">
<script src="https://apis.google.com/js/platform.js" async defer></script>

<div class="" id="loginModal">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		<h3>Have an Account?</h3>
	</div>
	<div class="modal-body">
		<div class="well">
			<ul class="nav nav-tabs">
				<li class="active"><a href="#login" data-toggle="tab">Login</a></li>
				<li><a href="#create-user" data-toggle="tab">Create Account - User</a></li>
				<li><a href="#create-intv" data-toggle="tab">Create Account - Interviewer</a></li>
			</ul>
			<div id="myTabContent" class="tab-content">
				<div class="tab-pane active in" id="login">
					<form class="form-horizontal" action='' method="POST">
						<fieldset>
							<div class="g-signin2" data-onsuccess="getGoogleData" data-theme="dark"></div>
						</fieldset>
					</form>
				</div>
				<div class="tab-pane fade" id="create-user">
					<form id="tab">
						<label>School</label>
						<input type="text" value="" class="input-xlarge">

						<div>
							<button class="btn btn-primary">Create Account</button>
						</div>
					</form>
				</div>
				<div class="tab-pane fade" id="create-intv">
					<form id="tab">
						<label>School</label>
						<input type="text" value="" class="input-xlarge">
						<label>Headline</label>
						<input type="text" value="" class="input-xlarge">
						<label>Rate</label>
						<input type="text" value="" class="input-xlarge">
						<label>Calendar</label>
						<input type="text" value="" class="input-xlarge">
						<label>Bio</label>
						<textarea value="Smith" rows="3" class="input-xlarge">
						</textarea>

						<div>
							<button class="btn btn-primary">Create Account</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>

<script class="cssdeck" src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script class="cssdeck" src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>