<!-- Login View -->
<meta name="google-signin-scope" content="profile email">
<meta name="google-signin-client_id" content="344521590545-frgeqsqikblk4i14rn9ffqlgmtk7nj24.apps.googleusercontent.com">
<script src="https://apis.google.com/js/platform.js" async defer></script>

<div ng-controller="SignupCtrl">
  <h1>Create an account</h1>
  <form ng-submit="createUser()">
    <a>To create an account, sign in with Google</a>
    <div class="g-signin2" data-onsuccess="getGoogleData" data-theme="dark"></div>
    <!-- <a href="javascript:window.location.reload(true)" ng-click="signOut">Sign out</a> -->

    <input type="text" placeholder="School" ng-model="school"></input> <br>

    <a>If you're signing up to be an interviewer, please also provide the following information:</a> <br>
    <input type="text" placeholder="Headline" ng-model="headline"></input> <br>
    <input type="text" placeholder="Hourly rate" ng-model="rate"></input> <br>
    <input type="text" placeholder="Availability (Google Calendar)" ng-model="calendar"></input> <br>
    <input type="text" placeholder="Bio" ng-model="bio"></input> <br>
    <button type="submit">Create account</button>
  </form>
</div>
