.profiles-container {
   display: flex;
   flex-flow: row wrap;
   justify-content: space-around;
   align-items: flex-start;
}

.profiles-container > .profile
{
  width: 500px;
  height: 175px;
}

.profile-photo {
   width: 175px;
   height: 175px;
   display: block;
   margin-left: auto;
   margin-right: auto;
   margin-top: auto;
   margin-bottom:  auto;
}

.card-profile-photo {
   float: left;
   width: 175px;
   height: 100%;
}

.card-block {
   float: left;
   height: 100%;
}

.card-title {
   color: black;
}

.card-text {
   margin-top: 5px;
   font-size: 90%;
   color: black;
}

.schedule-button {
   position: absolute;
   bottom: 0;
   right: 0;
}

.dates {
   width: 40%;
}

.modal-body input, textarea {
   width: 100%;
}

.modal-body select {
   width: 30%;
}

.modal-body label {
   font-weight: bold;
}
