label.radio {
  margin-left: 2px;
}

input[type="radio"] {
  float: left;
  clear: none;
  margin: 3px 0 0 2px;
}

div[class="modal-backdrop fade in"] {
	display: none;
}

div[class="modal-backdrop in"] {
	display: none;
}

.modal {
	height: 580px;
	padding-left: 0px;
}

.modal-dialog {
	width: 100%;
	height: 100%;
	margin: 0px;
}

.modal-content {
	height: 100%;
}

.modal-body {
	max-height: 100%;
}

#scheduleModal {
	width: 50%;
	left: 25%;
}