<!DOCTYPE html>
<html ng-app="coachApp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="static/listings.css">
</script>  
  </head>

  <header>
    <h1><a href="#/">COACH</a></h1>
  </header>

  <body>
    <div ng-view></div>

    <!-- Double jquery import -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-2.2.3.min.js"   integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo="   crossorigin="anonymous"></script>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular-resource.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular-route.js"></script>

    <script type="text/javascript" src="static/app.js"></script>

    <script type="text/javascript" src="static/interviewersListController.js"></script>
    <script type="text/javascript" src="static/interviewersDetailController.js"></script>
    <script type="text/javascript" src="static/preinterviewController.js"></script>
    <script type="text/javascript" src="static/landingController.js"></script>
    <script type="text/javascript" src="static/loginController.js"></script>

    <script type="text/javascript" src="static/interviewersService.js"></script>
    <script type="text/javascript" src="static/preinterviewService.js"></script>
  </body>
</html>
