<!DOCTYPE html>

<html>
   <head>
      <meta charset="utf-8">
      <link href="projectWebsite.css" rel="stylesheet"  type="text/css">

      <title>Coach Project Website - COS 333 Spring 2016</title>
   </head>
   <body>
      <header>
         <h1>Coach - COS 333 Spring 2016</h1>
      </header>

      <section id="docs">
         <h4><a href="coachdesigndoc.pdf" target="_blank">Design Document</a></h4>
      </section>
      
      <section id="team">
         <h4>Samvit Jain '17 (samvitj@) - Project Leader</h4>
         <h4>Henry Shangguan '18 (hys@)</h4>
         <h4>Joshua Shin '18 (jdshin@)</h4>
      </section>



      <div id="plans">
         <section id="timeline">
            <h2 class="sectionTitle">Project Timeline</h2>
            <dl>
               <dt><h4>Week 0 (Spring Break, ending 03/19)</h4></dt>
               <dd>Build static webpage with embedded video-chat and
               collaborative editor </dd>
               <dd>Setup frameworks and hosting</dd>
               <dd>Install Angular.js</dd>
               <dd>Configure Express.js with MongoDB to run on Heroku</dd>
               <dd>Basic storyboarding</dd>
               <dd>Create static Project Website (deadline 3/21)</dd>

               <dt><h4>Week 1 (ending 03/26)</h4></dt>
               <dd>More detailed mockups</dd>
               <dd>Define database schema</dd>
               <dd>Basic webpage with embedded video-chat and code editor</dd>
               <dd>Test: two people access domain and communicate through video and code editor</dd>
               <dd>This will be our Prototype (deadline 3/28)</dd>

               <dt><h4>Week 2 (ending 04/02)</h4></dt>
               <dd>Basic, interactive profile listings with information pulled from database</dd>
               <dd>Setup REST interface between Angular.js and Express.js frameworks</dd>
               <dd>Setup Google Calendar integration</dd>
               <dd>Continue developing mock interview interface</dd>

               <dt><h4>Week 3 (ending 04/09)</h4></dt>
               <dd>Allow for Interviewee to select a time slot in Interviewer’s Google Calendar</dd>
               <dd>Build Interviewer profile creation and Interviewee account creation interface</dd>
               <dd>Continue developing mock interview interface</dd>

               <dt><h4>Week 4 (ending 04/16)</h4></dt>
               <dd>Work on backlog of features not implemented yet</dd>
               <dd>Test on different screen sizes (resizing, mobile, etc.)</dd>
               <dd>Test with 5 real users and get feedback</dd>
               <dd>Test end-to-end functionality for Alpha (deadline 4/18)</dd>

               <dt><h4>Week 5 (ending 04/23)</h4></dt>
               <dd>Allow Interviewer to review Interviewee at end of session, and vice versa</dd>
               <dd>Allow for Interviewer to send Interviewee notes/summary/code from the interview</dd>
               <dd>Develop landing page</dd>
               <dd>Test with 10 real users and get feedback</dd>
               <dd>Test end-to-end functionality for Beta (deadline 4/25)</dd>

               <dt><h4>Week 6 (ending 04/30)</h4></dt>
               <dd>Work on backlog</dd>
               <dd>Trim partially or poorly implemented features</dd>
               <dd>Test with 15-20 real users and get feedback</dd>
               <dd>Test end-to-end functionality for Demo (5/2-4)</dd>

               <dt><h4>Week 7</h4></dt>
               <dd>Prepare for Demo (5/2-4)</dd>
               <dd>Write Product Guide and Final Report</dd>
            </dl>
         </section>

         <section id="targets">
            <h2 class="sectionTitle" >Project Targets</h2>
            <dl>
               <dt><h4>Minimal Plumbing</h4></dt>
               <dd>Node.js web server, backed by a MongoDB database,
               running on Heroku</dd>
               <dd>Webpage with embedded video-chat and embedded
               collaborative editor</dd>

               <dt><h4>Prototype</h4></dt>
               <dd>Webpage with embedded video chat tool and code editor</dd>

               <dt><h4>Alpha</h4></dt>
               <dd>Profile listings</dd>
               <dd>Google Calendar integration</dd>
               <dd>Interviewer profile creation</dd>
               <dd>Interviewee account creation</dd>
               <dd>Screen-size/device support</dd>

               <dt><h4>Beta</h4></dt>
               <dd>End-of-session reviews by both parties</dd>
               <dd>Session summary notes transmission/download</dd>
               <dd>Landing page</dd>

            </dl>
         </section>
      </div>
   </body>
</html>


